/* *Gobal Rules* */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}
picture {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.row {
  display: flex;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
}

.btn {
  outline: 0;
  border: 0;
  color: #fff;
}

/*     Breakpoints RWD*/
/*          --wide-m: 549px;
            --wide-l: 550px;
            --wide-xl: 688px;
            --wide-xxl: 992px;
            --wide-xxxl: 1312px; */
/* --------------------- */
